/*------------------------------------
- COLOR pagbrasil-pagbrasil-primary
------------------------------------*/
.alert-pagbrasil-primary {
  color: #003f84;
  background-color: #cce4ff;
  border-color: #b7daff;
}

.alert-pagbrasil-primary hr {
  border-top-color: #9eccff;
}

.alert-pagbrasil-primary .alert-link {
  color: #002751;
}

.badge-pagbrasil-primary {
  color: #fff;
  background-color: #007bff;
}

.badge-pagbrasil-primary[href]:hover,
.badge-pagbrasil-primary[href]:focus {
  color: #fff;
  background-color: #0062cc;
}

.bg-pagbrasil-primary {
  background-color: #007bff !important;
}

a.bg-pagbrasil-primary:hover,
a.bg-pagbrasil-primary:focus,
button.bg-pagbrasil-primary:hover,
button.bg-pagbrasil-primary:focus {
  background-color: #0062cc !important;
}

.border-pagbrasil-primary {
  border-color: #007bff !important;
}

.btn-pagbrasil-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-pagbrasil-primary:hover {
  color: #fff;
  background-color: #0069db;
  border-color: #0062cc;
}

.btn-pagbrasil-primary:focus,
.btn-pagbrasil-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-pagbrasil-primary.disabled,
.btn-pagbrasil-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-pagbrasil-primary:not(:disabled):not(.disabled):active,
.btn-pagbrasil-primary:not(:disabled):not(.disabled).active,
.show > .btn-pagbrasil-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005bbc;
}

.btn-pagbrasil-primary:not(:disabled):not(.disabled):active:focus,
.btn-pagbrasil-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-pagbrasil-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-pagbrasil-primary {
  color: #007bff;
  background-color: transparent;
  border-color: #007bff;
}

.btn-outline-pagbrasil-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-pagbrasil-primary:focus,
.btn-outline-pagbrasil-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-pagbrasil-primary.disabled,
.btn-outline-pagbrasil-primary:disabled {
  color: #007bff;
  background-color: transparent;
}

.btn-outline-pagbrasil-primary:not(:disabled):not(.disabled):active,
.btn-outline-pagbrasil-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-pagbrasil-primary.dropdown-toggle {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-pagbrasil-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-pagbrasil-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-pagbrasil-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.list-group-item-pagbrasil-primary {
  color: #003f84;
  background-color: #b7daff;
}

.list-group-item-pagbrasil-primary.list-group-item-action:hover,
.list-group-item-pagbrasil-primary.list-group-item-action:focus {
  color: #003f84;
  background-color: #9eccff;
}

.list-group-item-pagbrasil-primary.list-group-item-action.active {
  color: #fff;
  background-color: #003f84;
  border-color: #003f84;
}

.table-pagbrasil-primary,
.table-pagbrasil-primary > th,
.table-pagbrasil-primary > td {
  background-color: #b7daff;
}

.table-hover .table-pagbrasil-primary:hover {
  background-color: #9eccff;
}

.table-hover .table-pagbrasil-primary:hover > td,
.table-hover .table-pagbrasil-primary:hover > th {
  background-color: #9eccff;
}

.text-pagbrasil-primary {
  color: #007bff !important;
}

a.text-pagbrasil-primary:hover,
a.text-pagbrasil-primary:focus {
  color: #0062cc !important;
}

/*------------------------------------
- COLOR pagbrasil-secondary
------------------------------------*/
.alert-pagbrasil-secondary {
  color: #2a6718;
  background-color: #d9f4d1;
  border-color: #ccf0c1;
}

.alert-pagbrasil-secondary hr {
  border-top-color: #bbebac;
}

.alert-pagbrasil-secondary .alert-link {
  color: #193d0e;
}

.badge-pagbrasil-secondary {
  color: #212529;
  background-color: #54ca30;
}

.badge-pagbrasil-secondary[href]:hover,
.badge-pagbrasil-secondary[href]:focus {
  color: #212529;
  background-color: #42a026;
}

.bg-pagbrasil-secondary {
  background-color: #54ca30 !important;
}

a.bg-pagbrasil-secondary:hover,
a.bg-pagbrasil-secondary:focus,
button.bg-pagbrasil-secondary:hover,
button.bg-pagbrasil-secondary:focus {
  background-color: #42a026 !important;
}

.border-pagbrasil-secondary {
  border-color: #54ca30 !important;
}

.btn-pagbrasil-secondary {
  color: #212529;
  background-color: #54ca30;
  border-color: #54ca30;
}

.btn-pagbrasil-secondary:hover {
  color: #212529;
  background-color: #48ad29;
  border-color: #42a026;
}

.btn-pagbrasil-secondary:focus,
.btn-pagbrasil-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(84, 202, 48, 0.5);
}

.btn-pagbrasil-secondary.disabled,
.btn-pagbrasil-secondary:disabled {
  color: #212529;
  background-color: #54ca30;
  border-color: #54ca30;
}

.btn-pagbrasil-secondary:not(:disabled):not(.disabled):active,
.btn-pagbrasil-secondary:not(:disabled):not(.disabled).active,
.show > .btn-pagbrasil-secondary.dropdown-toggle {
  color: #212529;
  background-color: #42a026;
  border-color: #3d9423;
}

.btn-pagbrasil-secondary:not(:disabled):not(.disabled):active:focus,
.btn-pagbrasil-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-pagbrasil-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(84, 202, 48, 0.5);
}

.btn-outline-pagbrasil-secondary {
  color: #54ca30;
  background-color: transparent;
  border-color: #54ca30;
}

.btn-outline-pagbrasil-secondary:hover {
  color: #212529;
  background-color: #54ca30;
  border-color: #54ca30;
}

.btn-outline-pagbrasil-secondary:focus,
.btn-outline-pagbrasil-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(84, 202, 48, 0.5);
}

.btn-outline-pagbrasil-secondary.disabled,
.btn-outline-pagbrasil-secondary:disabled {
  color: #54ca30;
  background-color: transparent;
}

.btn-outline-pagbrasil-secondary:not(:disabled):not(.disabled):active,
.btn-outline-pagbrasil-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-pagbrasil-secondary.dropdown-toggle {
  color: #212529;
  background-color: #54ca30;
  border-color: #54ca30;
}

.btn-outline-pagbrasil-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-pagbrasil-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-pagbrasil-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(84, 202, 48, 0.5);
}

.list-group-item-pagbrasil-secondary {
  color: #2a6718;
  background-color: #ccf0c1;
}

.list-group-item-pagbrasil-secondary.list-group-item-action:hover,
.list-group-item-pagbrasil-secondary.list-group-item-action:focus {
  color: #2a6718;
  background-color: #bbebac;
}

.list-group-item-pagbrasil-secondary.list-group-item-action.active {
  color: #212529;
  background-color: #2a6718;
  border-color: #2a6718;
}

.table-pagbrasil-secondary,
.table-pagbrasil-secondary > th,
.table-pagbrasil-secondary > td {
  background-color: #ccf0c1;
}

.table-hover .table-pagbrasil-secondary:hover {
  background-color: #bbebac;
}

.table-hover .table-pagbrasil-secondary:hover > td,
.table-hover .table-pagbrasil-secondary:hover > th {
  background-color: #bbebac;
}

.text-pagbrasil-secondary {
  color: #54ca30 !important;
}

a.text-pagbrasil-secondary:hover,
a.text-pagbrasil-secondary:focus {
  color: #42a026 !important;
}

* {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.font-italic {
  color: black !important;
}

main {
  min-height: 80vh;
}

.imgRounded {
  border-radius: 5px;
}

p {
  font-size: default;
}

h1 {
  font-size: default;
}

h2 {
  font-size: default;
}

h3 {
  font-size: default;
}

h4 {
  font-size: default;
}

h5 {
  font-size: default;
}

body {
  background: #f6f6f6 !important;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  box-shadow: none !important;
  cursor: pointer !important;
}

i {
  color: white;
  transition: 0.3s;
}

i:hover {
  color: rgba(255, 255, 255, 0.7);
}

.underscore {
  border-bottom: 5px solid #007bff;
  border-radius: 10px;
  width: 30%;
}

.highlight {
  color: white !important;
  color: #007bff;
}

.btnPagBrasil, .postSideBar .wp-block-search__button {
  background-color: #007bff !important;
  color: white !important;
}
.btnPagBrasil:hover, .postSideBar .wp-block-search__button:hover {
  background-color: #54ca30 !important;
}
.btnPagBrasil a, .postSideBar .wp-block-search__button a {
  color: white !important;
}

.imgRounded {
  border-radius: 5px;
}

.postContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
.postContainer h3 {
  width: 100%;
}
.postContainer .postCard {
  width: 28%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.postContainer .postCard .imgCard {
  border-radius: 5px 5px 0 0;
}
.postContainer .postCard h3 {
  font-size: 1.4em;
}
.postContainer .postCard p {
  font-size: 0.9em;
}
.postContainer .postCard .postCardContent {
  padding: 20px;
}
.postContainer .postPagination {
  width: 70%;
  gap: 20px;
}

@media (min-width: 771px) and (max-width: 1000px) {
  .postContainer {
    justify-content: center;
  }
  .postContainer .postCard {
    width: 40%;
  }
}
@media (max-width: 770px) {
  .postContainer {
    justify-content: center;
  }
  .postContainer .postCard {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .postContainer {
    margin: 50px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .postContainer .postCard {
    width: 100%;
  }
}
.headerContainer {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}
.headerContainer a {
  color: black !important;
  font-size: 1.1em;
  font-weight: 500;
  margin: 0 5px;
  transition: 0.3s;
}
.headerContainer a:hover, .headerContainer a:active, .headerContainer a:focus {
  color: #007bff !important;
}

.navbar-toggler {
  background-color: none !important;
  border: none !important;
}
.navbar-toggler:active, .navbar-toggler:hover, .navbar-toggler:focus {
  background-color: none !important;
  border: none !important;
  box-shadow: none !important;
}

@media (max-width: 500px) {
  .itemsHeaderContainer {
    display: flex;
    justify-content: space-between !important;
  }
  .itemsHeaderContainer .customLogoDiv {
    width: 50%;
  }
  .itemsHeaderContainer .customLogoDiv .custom-logo {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .footerPartTwo,
  .footerPartThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 500px) {
  .solveMobileFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .solveMobileFooter .footerPartOne {
    padding-bottom: 10px;
  }
  .solveMobileFooter .footerPartThree {
    flex-direction: row;
    text-align: center;
    justify-content: center !important;
    align-items: center;
    padding-top: 15px;
  }
}
.postDetails {
  display: flex;
  gap: 20px;
}

.postSideBar {
  background-color: rgba(255, 255, 255, 0.6) !important;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}
.postSideBar li {
  list-style: none;
  margin-top: 5px;
}
.postSideBar p {
  margin-top: 5px;
}
.postSideBar .wp-block-search__input {
  border-radius: 5px !important;
}
.postSideBar .wp-block-search__button {
  border-radius: 5px;
}

.postContent {
  margin-top: 20px;
}

@media (max-width: 800px) {
  .postSideBar {
    display: none;
  }
}
.bannerHead {
  background-image: url();
}

#team {
  gap: 20px;
  margin-bottom: 50px;
}
#team .team-member {
  background-color: rgba(255, 255, 255, 0.9) !important;
  width: 30%;
  padding: 20px;
  border-radius: 5px 30px 5px 30px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 501px) and (max-width: 1199px) {
  #team {
    display: flex;
    gap: 20px;
  }
  #team .team-member {
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 500px) {
  #team {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }
  #team .team-member {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }
}
.dynamicContent .content {
  width: 50%;
}
.dynamicContent .imgAbout {
  width: 50%;
}

@media (max-width: 1000px) {
  .dynamicContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dynamicContent .content {
    width: 100%;
  }
  .dynamicContent .imgAbout {
    width: 90%;
  }
}

/*# sourceMappingURL=styles.css.map */
